name: book-junction-patterns ci/cd pipeline

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Installing dependencies
        run: npm install

      - name: Running test cases
        run: npm test

      - name: Authenticating
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          PUBLISH_TOKEN: ${{secrets.PUBLISH_TOKEN}}
        run:
          |
           npm config set //registry.npmjs.org/:_authToken="${PUBLISH_TOKEN}"
      
      - name: Publishing the package
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: npm publish

